{% extends "base.html" %}

{% comment %}

Mission of company

{% endcomment %}

{% block head %}
	<title>Hubly in Claremont</title>
{% endblock %}

{% block body %}
<div class="container">
<header>
		<h1>About Us</h1>
	</header>

	<section>
	
		<h5><p>Hubbly was created to speed up the food ordering process at college campuses.</p><p>What will you do with your free time?</p></h5>
		<h3>The Hubbly Crew</h3>
		Ankit Sud, Evan Casey, Joe Newbry, and Mike Franklin are students on the Claremont Colleges Silicon Valley Program.
	</section>

	</div>
{% endblock %}