{% extends "base.html" %}

{% comment %}

Main page of testsite's website. Not sure if this is the right index.html
file or if this should be the post/index.html file... will know soon.

{% endcomment %}

{% block head %}
	<title>Hubly in Claremont</title>
{% endblock %}

{% block body %}
<div class="container">
<header>
		<h1>Welcome to Hubly in Claremont</h1>
	</header>

	<section>
	
		<p>If you're new click <a href="/accounts/register">here</a> to sign up!</p>
	</section>
	<section>
	
		<p>Already done this? Click <a href="/order">here</a> to log in!</p>
	</section>	

	<section>
	
		<p>Not sure what this is? Click <a href="/about">here</a> to find out more!</p>
	</section>	

	</div>
{% endblock %}

