{% extends "base.html" %}

<!--
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  
  <script>
  $(document).ready(function(){
    
    $("p").click(function () { 
      $(this).slideUp(); 
    });
    $("p").hover(function () {
      $(this).addClass("hilite");
    }, function () {
      $(this).removeClass("hilite");
    });

  });
  </script>
  <style>
  p { color:red; margin:5px; cursor:pointer; }
  p.hilite { background:gray; }
  </style>
</head>
-->
{% block body %}
<body>
  <div class="container">

    <h2> Your order has been submitted! </h2>
    <h5>We recommend you pick up your food in 10-15 minutes.</h5>
  </div>
</body>



{% endblock %}