{% extends "portal/index.html" %}
{% comment %}
Main page of the hub view
{% endcomment %}

{% block content %}
<h1> The Hub </h1>
{% if latest_notes_list %}

	<ul>	  
	 {% for note in latest_notes_list %}
		<li>
			{{ note.body }}
		
			 <input type="checkbox" class="remove" />
			 	  5 minutes
			 <input type="checkbox" class="remove" />
			 	  10 minutes
			 <input type="checkbox" class="remove" />
			 	  15 minutes 	
			<button onclick="JavaScript:alert('Well done!')">Approve Order</button>
			
		</li>
	 {% endfor %}
	</ul>
{% endif %}
{% endblock %}