<!--Main page of the Hub View-->	
{% extends "portal/index.html" %}

{% block content %}
<!--Page Title-->
<h1> The Hub </h1>
<body>
<!--Checks to see if there are any orders-->
{% if latest_notes_list %}

<div class="row">	
	<div class = "span12">
		<div class="row">
			<!--Incoming Orders Column-->	
			<div class = "span6">
				<h2> Incoming orders </h2>
				
				<!--Load all unapproved orders-->
				{% for note in latest_notes_list %}
			
				<!--User and Payment Type-->
				<div class = "span1" id = "{{ note.auto_id }}"> {{ note.user }} {{note.payment}}</div>
				
				<!--Main-->
				<div class = "span1" id = "{{ note.auto_id }}"> {{ note.main }} </div>
				
				<!--Side-->
				<div class = "span1" id = "{{ note.auto_id }}"> {{ note.side }} </div>
				
				<!--Comments-->
				<div class = "span1" id = "second"> {{ note.comments }} </div>
				
				<!--Approve the order and place in current orders-->
				<div class = "span1" id = "second"> 
					<button class="btn btn-success btn-small" onClick = "test_hiding();" >Approve</button>
					<button class="btn btn-danger btn-small">&nbsp;&nbsp;&nbsp;Deny&nbsp;&nbsp;&nbsp;</button>
							</div> 
		{% endfor %}
			</div>
	
			<!--Current Orders Column-->
			<div class = "span6">
				<h2> Current orders </h2>
			
				<!--Load all approved orders-->
				{% for note in latest_notes_list %}
				
				<!--User and Payment Type-->
				<div class = "span1"> {{ note.user }} {{note.payment}}</div>
				
				<!--Main-->
				<div class = "span1"> {{ note.main }} </div>
				
				<!--Side-->
				<div class = "span1"> {{ note.side }} </div>
				
				<!--Comments-->
				<div class = "span1"> {{ note.comments }} </div>
				
				<!--Send the user a notification-->
				<div class = "span1"><button class="btn btn-primary btn-small">Finish Order</button></div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
</body>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script> 
function test_hiding() {
	var user = {{ note.user }}
	  $("#{").hide();
}


  </script>
  



{% endif %}
{% endblock %}